<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-8">
      <h2 class="text-center mb-4">新規登録</h2>
      
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        
        <div class="mb-4">
          <span class="badge text-white me-2" style="background-color: #ED7D31;">必須</span>
          <%= f.label :name, "氏名", class: "form-label fw-bold" %>
          <%= f.text_field :name, class: "form-control", style: "background-color: #FFFFE0;", placeholder: "例：山田 太郎" %>
        </div>
        
        <div class="mb-4">
          <span class="badge text-white me-2" style="background-color: #ED7D31;">必須</span>
          <%= f.label :email, "メールアドレス", class: "form-label fw-bold" %>
          <%= f.email_field :email, autofocus: true, 
              class: "form-control",
              style: "background-color: #FFFFE0;", placeholder: "例：sample@example.com", autocomplete: "email" %>
        </div>

        <div class="mb-4">
          <span class="badge text-white me-2" style="background-color: #ED7D31;">必須</span>
          <%= f.label :password, "パスワード(必須)", class: "form-label fw-bold" %>
          <%= f.password_field :password, 
              class: "form-control",
              style: "background-color: #FFFFE0;", placeholder: "半角英数字で6文字以上", autocomplete: "new-password" %>
        </div>

        <div class="mb-4">
          <span class="badge text-white me-2" style="background-color: #ED7D31;">必須</span>
          <%= f.label :password_confirmation, "パスワード再入力(必須)", class: "form-label fw-bold" %>
          <%= f.password_field :password_confirmation, 
              class: "form-control",
              style: "background-color: #FFFFE0;", placeholder: "パスワードを再入力してください", autocomplete: "new-password" %>
        </div>

        <div class="text-center mt-5">
          <%= f.submit "新規登録", 
               class: "btn px-4 py-2", style: "background-color: #ED7D31; color: white;" %>
        </div>
      <% end %>

      <div class="text-center mt-4">
        <p>
          会員登録済みの方は
          <%= link_to "ログイン", new_session_path(resource_name)%>
        </p>
      </div>
    </div>
  </div>
</div>
